[submodule "cbor"]
	path = cbor
	url = git@github.com:dr-bonez/cbor.git
[submodule "json-patch"]
	path = json-patch
	url = git@github.com:dr-bonez/json-patch.git
[submodule "json-ptr"]
	path = json-ptr
	url = git@github.com:dr-bonez/json-ptr.git
[submodule "qutex"]
	path = qutex
	url = git@github.com:dr-bonez/qutex.git
